@media (max-width: 41200px) {
    #createOffer {
        min-width: 800px;
        max-width: 800px;
    }

    textarea {
        width: 400px;
        height: 520px;
        max-height: 520px;
        margin-right: 15px;
    }

    #submitButton {
        width: 400px;
        height: 46px;
        margin-top: 0;
        margin-left: -15px;
    }

    #dateDebut,
    #dateFin {
        width: 175px;
        margin-bottom: 54px;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type='date'],
    select {
        width: 300px;
        margin-right: 15px;
    }
}

@media (max-width: 1300px) {
    #createOffer {
        min-width: 800px;
        max-width: 800px;
    }

    textarea {
        width: 400px;
        height: 420px;
        max-height: 515px;
        margin-right: 15px;
    }

    #submitButton {
        width: 400px;
        height: 46px;
        margin-top: 0;
        margin-left: -15px;
    }

    #dateDebut,
    #dateFin {
        width: 175px;
        margin-bottom: 65px;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type='date'],
    select {
        width: 300px;
        margin-right: 15px;
    }
}

@media (max-width: 950px) {
    #createOffer {
        min-width: 330px;
        max-width: 330px;
    }

    textarea {
        height: 420px;
    }

    #submitButton {
        width: 266px;
        margin-left: -20px;
    }

    #dateDebut {
        margin-bottom: 0px;
    }

    #dateFin {
        margin-bottom: 45px;
    }

    #siret {
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type='date'],
    input[type='submit'],
    select,
    textarea,
    #dateDebut,
    #dateFin {
        width: 266px;
        margin-right: 0px;
    }
}

#submitButton::before {
    font-family: 'FontAwesome';
    font-size: 5em;
    content: '\f19d';
    display: block;
    margin: 20px;
}