@media (max-width: 41200px) {
    #option {
        width: 20%;
    }

    #option .button {
        margin-left: -25px;
        width: fit-content;
        color: var(--darkBlue2);
    }

    #mainContent {
        width: 77%;
        left: 20%;
        height: 85vh;
    }

    #search-bar {
        width: 55%;
    }

    .down {
        flex-direction: row;
    }

    .down:first-child {
        max-width: 40%;
    }

    .down > .VBox {
        max-width: 60%;
    }

    .lineSujetOffre {
        left: 13%;
        width: 35%;
    }

    .input-row {
        width: 100%;
    }

    input[type="file"] {
        margin-left: 10px;
    }

    .entityInformation {
        width: 100%;
    }

    .entityInformation > .top {
        padding-left: 5%;
    }

    .managementActions {
        flex-direction: row;
    }
}

@media (max-width: 1300px) {
    #option {
        width: 20%;
    }

    #option .button {
        margin-left: -25px;
        width: fit-content;
        color: var(--darkBlue2);
    }

    #mainContent {
        width: 77%;
        left: 20%;
        height: 85vh;
    }

    #search-bar {
        width: 55%;
    }

    .down {
        flex-direction: row;
    }

    .down:first-child {
        max-width: 40%;
    }

    .down > .VBox {
        max-width: 60%;
    }

    .lineSujetOffre {
        left: 13%;
        width: 35%;
    }

    .input-row {
        width: 100%;
    }

    input[type="file"] {
        margin-left: 10px;
    }

    .entityInformation {
        width: 100%;
    }

    .entityInformation > .top {
        padding-left: 5%;
    }

    .managementActions {
        flex-direction: row;
    }
}

@media (max-width: 950px) {
    body {
        zoom: 87%;
    }

    #option {
        width: 55px;
    }

    #option .button {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        width: 45px;
        margin-left: -20px;
    }

    #option span::before {
        margin-right: 50px;
    }

    #mainContent {
        width: 87%;
        left: 10%;
        height: 114vh;
    }

    #search-bar {
        width: 100%;
    }

    .down {
        flex-direction: column;
    }

    .down:first-child,
    .down > .VBox {
        max-width: 100%;
        font-size: 2em;
    }

    #option > h2,
    #adminPP,
    #adminName,
    #adminBackground {
        display: none;
    }

    .lineSujetOffre {
        left: 27%;
        width: 25%;
    }

    .input-row {
        width: 80%;
        position: absolute;
        left: 10%;
    }

    input[type="file"] {
        margin-left: 60px;
    }

    .entityInformation {
        width: 100%;
    }

    .entityInformation > .top {
        font-size: 2.5em;
        flex-direction: column;
        padding: 0;
    }

    .entityInformation > .top > .state {
        font-size: 2em;
    }

    .state {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .entityInformation > .down {
        font-size: 1.3em;
    }

    .managementActions {
        flex-direction: column;
    }

    .managementActions .button {
        width: 94%;
    }
}

.entityInformation > .top > .state > .circle::before {
    margin-left: 30%;
}

#adminPP {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--darkBlue2) solid 4px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 5;
}

#adminName {
    margin: 0 0 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    z-index: 5;
}

#adminBackground {
    opacity: 0;
    position: absolute;
    left: 0;
    background: var(--darkBlue2);
    height: 98px;
    width: 90px;
    z-index: 4;
}

.HBox {
    height: auto;
}

#panel {
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    min-height: 50em;
    margin-bottom: 40px;
}


/*---START SEARCH BAR---*/

#searchBarParent {
    width: 100%;
    margin-right: 0;
}

form #search-button {
    top: 33px;
    right: 34px;
}

#title {
    white-space: nowrap;
    font-size: 1.8em;
    margin-left: 10px;
}

form #search-bar {
    margin-right: 0;
}

#searchBarParent form {
    display: flex;
    justify-content: flex-end;
}

/*---END SEARCH BAR---*/

#mainContent {
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 0;
    padding-top: 10px;
    border-top: rgba(0, 0, 0, 0.005) solid 10px;
    border-bottom: rgba(0, 0, 0, 0.005) solid 10px;
}

#mainContent > .VBox {
    align-items: center;
    justify-content: flex-start;
}

#mainContent > .HBox {
    padding-left: 20px;
    padding-right: 20px;
}

#mainContent .line,
.columnName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.5vh;
    width: 96%;
    margin: 0;
    box-sizing: unset;
    position: relative;
    border: rgba(0, 0, 0, 0) solid 3px;
    transition: all 0.3s ease-in-out;
}

#dynamicList {
    overflow: auto;
    overflow-x: hidden;
}

.line {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#mainContent .line:hover {
    cursor: pointer;
    background: var(--activeGrey);
    border-color: var(--grey0);
    box-shadow: none;
    border-radius: 0;
}

#mainContent .line:nth-child(odd) {
    background: var(--activeGrey);
}

#mainContent .line:nth-child(even) {
    background: var(--footer);
}

.columnName {
    background: var(--background);
    margin-top: 10px;
    border: none;
    font-weight: bold;
    width: 98.5%;
    padding: 9px;
    height: 30px;
    border-bottom: var(--grey1) solid 1px;
}

.line:hover .button {
    opacity: 1;
}

.line > .consulterButton {
    background: var(--lightpastelBlue);
    border: 2px solid var(--pastelBlue);
    color: var(--pastelBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin: 0;
    width: fit-content;
    padding: 8px 8px 8px 5px;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
}

.line > .consulterButton:hover {
    background: var(--pastelBlue);
    color: var(--white);
}

.HBox.containerDebutLine {
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    margin-bottom: 0;
}

#columnFirst {
    margin: 0 0 0 10px;
}

#columnCodePostal {
    width: 10%;
}

.line label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lineNomEntreprise, .lineNomPrenomEtudiant {
    font-weight: bold;
    font-size: 16px;
}


/*---START Offer lines---*/
.lineSujetOffre {
    font-weight: bold;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
}

.lineEntrepriseOffre {
    position: absolute;
    right: 30%;
    width: 15%;
    text-align: left;
    text-overflow: ellipsis;
}

.lineDateOffre {
    position: absolute;
    right: 10%;
    width: 15%;
    text-align: left;
    text-overflow: ellipsis;
}

.deleteButtonOrigin {
    opacity: 0;
    text-decoration: none;
    color: var(--darkBlue2);
    position: absolute;
    right: 3%;
    transition: all 0.3s ease-in-out;
}

.editButton {
    opacity: 0;
    text-decoration: none;
    color: var(--darkBlue2);
    position: absolute;
    right: 8%;
    transition: all 0.3s ease-in-out;
}

.line > a > span::before {
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 1.8em;
    vertical-align: middle;
}

.deleteButtonOrigin span::before {
    content: '\f1f8';
}


.editButton span::before {
    content: '\f044';
}

.offre:hover > .editButton,
.offre:hover > .deleteButtonOrigin {
    color: var(--darkBlue2);
    opacity: 0.9;
}

.offre:hover > .editButton:hover,
.offre:hover > .deleteButtonOrigin:hover {
    color: var(--darkBlue2);
    opacity: 0.6;
}

/*---END Offer lines---*/


.lineCodePostalEntreprise {
    position: absolute;
    left: 40%;
}

.columnName .lineCodePostalEntreprise {
    left: 37%;
}

.lineTelephoneEntreprise {
    position: absolute;
    left: 53%;
}

.lineSiteWebEntreprise {
    position: absolute;
    left: 70%;
}

.lineMailUniversitaireEtudidant {
    position: absolute;
    left: 55%;
    width: 29.5%;
}

.lineNumEtudiant {
    position: absolute;
    width: 15%;
    left: 35%;
}

.circle {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
}

.greenColor {
    background-color: var(--lightpastelGreen);
}

.greenColor::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: var(--green);
    font-size: 1.2em;
    vertical-align: middle;
}

.yellowColor {
    background-color: var(--lightpastelYellow);
}

.yellowColor::before {
    content: '\f06a';
    font-family: 'FontAwesome';
    color: var(--yellow);
    font-size: 1.2em;
    vertical-align: middle;
}

.redColor {
    background-color: var(--lightpastelRed);
}

.redColor::before {
    content: '\f00d';
    font-family: 'FontAwesome';
    color: var(--red);
    font-size: 1.2em;
    vertical-align: middle;
}

/**************************************************
***************** Management Panel ****************
***************************************************/
.managementPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.entityInformation {
    border: var(--grey2) solid 3px;
    justify-content: space-between;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    max-height: 60%;
    margin: 0;
    font-size: 1vw;
}

#managementEntrepriseName, #managementEtudiantName, #managementEtudiantSurname {
    font-size: 2.5em;
    font-weight: bold;
}

.managementActions {
    max-height: 30%;
    display: flex;
}

.managementActions .button, .managementActions input[type="submit"] {
    margin: 10px;
    font-size: 1.4em;
    border-radius: 15px;
}

#validation, .managementActions input[type="submit"] {
    background-color: var(--lightpastelGreen);
    color: var(--green);
}

#validation:hover {
    background-color: var(--pastelGreen);
}

#invalidation {
    background-color: var(--pastelYellow);
    color: var(--darkYellow);
}

#invalidation:hover {
    background-color: var(--pastelYellow);
}

#suppression {
    background-color: var(--lightpastelRed);
    color: var(--red);
}

#suppression:hover {
    background-color: var(--pastelRed);
}

#modification {
    background-color: var(--lightpastelBlue);
    color: var(--blue);
}

#modification:hover {
    background-color: var(--pastelBlue);
}

#ajoutAnnotation {
    background-color: var(--grey0);
    color: #2F4F4F;
}

#ajoutAnnotation:hover {
    background-color: var(--grey1);
}

.managementActions * {
    font-size: 1vw;
}

.entityInformation > .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: var(--grey1) solid 3px;
}

.entityInformation > .top > .state {
    display: flex;
    flex-direction: row;
}

.entityInformation > .top > .state * {
    padding-right: 10px;
}

.entityInformation > .top > .state > .circle {
    height: 1.75em;
    width: 1.75em;
}

.entityInformation label {
    display: inline-block;
    word-break: break-all;
}

#managementEntrepriseValidation, #managementEtudiantState {
    font-size: 1em;
}

#managementEntrepriseSiret, #managementEntrepriseEffectif,
#managementEntrepriseCodePostal, #managementEntrepriseMail,
#managementEntrepriseTelephone, #managementEtudiantCodePostal,
#managementEtudiantNumEtudiant, #managementEtudiantMailPerso,
#managementEtudiantMailUniv, #managementEtudiantTelephone {
    font-size: 1.5em;
}

.entityInformation > .down {
    display: flex;
    height: 100%;
    width: 100%;
}

.entityInformation > .down > .VBox {
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5%;
    flex-grow: 2;
}

.entityInformation > .down > .VBox:first-child {
    border-right: var(--grey1) solid 3px;
}

.entityInformation > .down div {
    display: flex;
}

.entityInformation > .down div > label:first-child {
    white-space: nowrap;
    margin-right: 5px;
}

.entityInformation > .down div > label:nth-of-type(2) {
    overflow-wrap: break-word;
}

@media (max-width: 950px) {
    #panel {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #option {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: fit-content;

    }

    #option button {
        font-size: 0.9vw;
    }

    #panel {
        height: auto;
    }

    #mainContent .line, .columnName {
        width: 95%;
    }

    .lineTelephoneEntreprise {
        display: none;
    }

    .lineCodePostalEntreprise {
        display: none;
    }

    .lineSiteWebEntreprise {
        left: 55%;
    }

    .HBox.containerDebutLine {
        width: 50%;
        justify-content: flex-start;
    }

    .lineMailUniversitaireEtudidant {
        display: none;
    }

    .lineNumEtudiant {
        left: 55%;
        width: 20%;
    }


    /**************************************************
    ***************** Management Panel ****************
    ***************************************************/

}

#option {
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 25%;
    font-size: 10px;
    height: 100%;
    border-radius: 0 1.5rem 0 1.5rem;
    margin: 0;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#option .button {
    background: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 0;
    white-space: nowrap;
    height: 50px;
    margin-bottom: 10px;
}

#option .button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: var(--darkBlue2);
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 0;
    margin-left: -13px;
    white-space: nowrap;
}

#option .button.active {
    background: rgba(0, 0, 0, 0.1);
    color: var(--darkBlue2);
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 0;
    white-space: nowrap;
}

#option .VBox {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#option a .HBox {
    justify-content: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--darkBlue2);
    text-decoration: none;

}

#option a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

a img:active {
    background: var(--grey0);
    color: var(--darkBlue2);
    opacity: 1;
}

#title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    opacity: 0.8;
}

#title .HBox {
    margin: 0;
}

.button span::before,
.title span::before {
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 1.8em;
    vertical-align: middle;
}

.title span {
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

.title:hover span {
    cursor: default;
}

.button span {
    font-size: 1.1em;
}

#studentListButton span::before,
#titleEtudiant span::before {
    content: '\f007';
}

#companyListButton span::before,
#titleEntreprise span::before {
    content: '\f0b1';
}

#offerListButton span::before,
#titleOffre span::before {
    content: '\f022';
}

#importDataButton span::before,
#titleImport span::before {
    content: '\f093';
}

#statButton span::before,
#titleStat span::before {
    content: '\f080';
}


/*---START OFFRE---*/

.containerDebutLine > .typeExpPro {
    border-radius: 13px;
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    width: 95px;
    height: 29px;
    margin-bottom: 5px;
}

.Stage > .HBox > .typeExpPro,
.Stage > .header > .information > .typeExpPro {
    border-color: var(--lightpastelPurple);
    background-color: var(--lightpastelPurple);
    color: var(--darkPurple);
}

.Stage:hover {
    border-color: var(--pastelPurple);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #B08AB625;
}

.Alternance > .HBox > .typeExpPro,
.Alternance > .header > .information > .typeExpPro {
    border-color: var(--lightpastelOrange);
    background-color: var(--lightpastelOrange);
    color: var(--darkOrange);
}

#mainContainer:hover {
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
}

.Alternance:hover {
    border-color: var(--pastelOrange);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #F8C9A025;
}

.OffreNonDefini > .HBox > .typeExpPro,
.OffreNonDefini > .header > .information > .typeExpPro {
    background: linear-gradient(-45deg, var(--lightpastelPurple) 0%, var(--lightpastelPurple) 50%, var(--lightpastelOrange) 50%, var(--lightpastelOrange) 100%);
    color: var(--darkBlue2);
    border-bottom-color: var(--pastelPurple);
    border-left-color: var(--pastelOrange);
    border-right-color: var(--pastelPurple);
    border-top-color: var(--pastelOrange);
}

.OffreNonDefini > .HBox > .typeExpPro > label,
.OffreNonDefini > .header > .information > .typeExpPro > label {
    background: linear-gradient(-45deg, var(--darkPurple) 0%, var(--darkPurple) 50%, var(--darkOrange) 50%, var(--darkOrange) 100%);
    color: transparent;
    border-bottom-color: var(--pastelPurple);
    border-left-color: var(--pastelOrange);
    border-right-color: var(--pastelPurple);
    border-top-color: var(--pastelOrange);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.OffreNonDefini:hover {
    border-bottom-color: var(--pastelPurple);
    border-left-color: var(--pastelOrange);
    border-right-color: var(--pastelPurple);
    border-top-color: var(--pastelOrange);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #F8C9A025;
}

/*---END OFFRE---*/

/*---START STATS ETUDIANT---*/
#statBox > div {
    padding: 15px;
    border-radius: 50px;
    font-size: 2em;
    margin-right: 0;
}

/*---START TOOLTIP---*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    opacity: 0;
    width: 300%;
    background-color: var(--darkBlue2);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 15;
    transition: all 0.3s ease-in-out;
    animation: disappearTooltip 0.3s ease-in-out forwards;
}

.tooltip:hover > .tooltiptext {
    animation: appearTooltip 0.3s ease-in-out forwards;
}

@keyframes appearTooltip {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappearTooltip {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

/*---END TOOLTIP---*/

#statTotal {
    background: var(--lightpastelBlue);
}

#statTotal span::before {
    color: var(--blue);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0c0';
}

#statValide {
    background: var(--lightpastelGreen);
}

#statValide span::before {
    color: var(--green);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f00c';
}

#statInter {
    background: var(--lightpastelYellow);
}

#statInter span::before {
    color: var(--yellow);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f06a';
}

#statBad {
    background: var(--lightpastelRed);
}

#statBad span::before {
    color: var(--red);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f00d';
}

/*---Specific for offers---*/
#statOffreTotal {
    background: var(--lightpastelBlue);
}

#statOffreTotal span::before {
    color: var(--blue);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f03a';
}

#statStage {
    background: var(--lightpastelPurple);
}

#statStage span::before {
    color: var(--purple);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

#statAlternance {
    background: var(--lightpastelOrange);
}

#statAlternance span::before {
    color: var(--orange);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

#statNonDefini {
    background: var(--lightpastelRed);
}

#statNonDefini span::before {
    color: var(--red);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

/*---START Import page---*/
input[type="file"] {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkBlue2);
    cursor: pointer;
}

.input-row {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    background: var(--lightGrey);
    padding: 25px;
    border-radius: 1.5rem;
    border: 2px dashed var(--darkBlue2);
}

.input-row > label {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkBlue2);
    margin: 50px;
}

#values {
    display: none;
}

#dg3 {
    margin-top: 50px;
}